@import url('https://fonts.googleapis.com/css?family=Rajdhani|Roboto&display=swap:100,200,300,400,500,600,700');

 /*---------------------------------------------------------*/
/*------------------------- COLOURS -------------------------*/
 /*---------------------------------------------------------*/

.bgnavcolor{
    background-color: #eae9fb;
}

.bg-banner{
    background-color: #f8f8f8;
}

.bg-main-content{
    background-color: #ffffff;
}

#bg-gallery{
    background-color: #f8f8f8;
}

.bg-contact{
    background-color: #ffffff;
}

.bg-classes{
    background-color: #ffffff;
}

/*---------------------------------------------------------*/
/*------------------------- HEADER -------------------------*/
/*---------------------------------------------------------*/

/*---------- Logo Image ----------*/

#gym-image{
    width: 7.5rem;
    height: 7.5rem;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    padding: 0.4rem;
}

@keyframes hero-zoom {
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(1.1);
    }
}

/*---------- Company Title ----------*/

.main-title-text{
    font-family: "Rajdhani", "roboto";
    font-weight: 300;
    font-size: 3.2rem;
    color:#4c4c4c;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline;
    margin-left: 1rem;
    text-decoration: none;
}

/*---------- Navigation Menu ----------*/

.menuitem span{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #4c4c4c;
    height: 2rem;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 7px;
    border-right: 1px solid #4c4c4c;
}

.menuitem a i{
    color: #4c4c4c;
    font-size: 1rem;
    border-left: 1px solid #4c4c4c;
    padding: 0.75rem;
    height: 2rem;
    line-height: 7px;
}

.menuitem span:hover{
    color: #0000ff;
    text-shadow:0 0 1px #0000ff;
}

#active{
    border-bottom: 1px solid #4c4c4c;

}

.navbar-toggler{
    background-color: #4c4c4c;
}

  /*---------------------------------------------------------*/
/*------------------------- MAIN BODY -------------------------*/
  /*---------------------------------------------------------*/

/*--------------------- Home Page ---------------------*/

/*--- Promotion Image & Button ---*/
.promo{
    padding: 0;
    margin-top: 2.813rem;
    height: 12.5rem;
}

.promo-logo{
    height: 9.375rem;
    margin-left: 4rem;
}

.join-button{
    display: table;
    margin-left: 10rem;
    margin-top: 0;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #00b050;
    color: #fff;
}

/*--- Punchy Slogan ---*/
.slogan{
    font-family: "Rajdhani", "roboto";
    letter-spacing: 5px;
    color: #4c4c4c;
}

.fit{
    font-size: 2.5rem;
    margin-top: 1.875rem;
    margin-left: 1rem;
}

.fit span{
    text-transform: uppercase;
    font-size: 3.5rem;
}

.strong{
    font-size: 2.7rem;
    margin-left: 7rem;
}

.strong span{
    text-transform: uppercase;
    font-size: 3.7rem;
}

.gym-it{
    font-size: 4rem;
    text-transform: uppercase;
    margin-left: 17rem;
}


/*--- 24/7 Image ---*/

.open-logo{
    margin-left: -1.45rem;
    margin-top: 2.813rem;
    padding: 0;
}

/*------- Middle Banner Images -------*/

.treadmill-img{
    width: 38.063rem;
    height: 21.625rem;
    margin-bottom: 2.813rem;
    border-radius: 5%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.hi-five-img{
    width: 38.063rem;
    height: 21.625rem;
    margin-bottom: 2.813rem;
    border-radius: 5%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/*------- Lower Banner -------*/

.offer-img{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------- About Page ---------------------*/

/*---------- Who We Are ----------*/

.who-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.about-who-text{
    background-color: #f8f8f8;
    width: 100%;
    height: 5rem;
}

.who-we-are{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    text-align: center;
}

.about-who{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 5rem;
}

.step-img{
     width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
         display: block;
  margin-left: auto;
  margin-right: auto;
}



/*---------- What We Do ----------*/

.what-banner{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.about-what-text{
    width: 100%;
    height: 5rem;
}

.what-we-do{
    color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    text-align: center;
}

.about-what{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-headings{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 4.5rem;
    border-bottom: 1px solid #4c4c4c;
}

.about-headings-2{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 1rem;
    border-bottom: 1px solid #4c4c4c;
}

.about-guide{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-teach{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-connect{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-health{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.hang-img{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
     display: block;
  margin-left: auto;
  margin-right: auto;
}

.class1-img{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
         display: block;
  margin-left: auto;
  margin-right: auto;
}

.connect-img{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
         display: block;
  margin-left: auto;
  margin-right: auto;
}

.healthy-img{
    width: 80rem;
    height: 14.091rem;
    border-radius: 5%;
         display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------- Gallery Page ---------------------*/

/*---------- Gallery Title ----------*/

.gallery-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.gallery-heading{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

/*---------- Gallery Images ----------*/
.gal {
	
	-webkit-column-count: 2; /*Chrome, Safari, Opera*/
    -moz-column-count: 2; /*Firefox*/
    column-count: 2;
	}	
    
	.gal img{ 
        width: 100%; 
        padding: 7px;
        border-radius: 5%;
    }

.gal img:hover{
    box-shadow: 0 0 2px 1px rgba(76, 76, 76, 0.5);
}

/* Code source here */
/* https://bootsnipp.com/snippets/p1qAD */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_thumbnail_image */


/*--------------------- Classes Page ---------------------*/

/*---------- Classes Title & Banner ----------*/

.classes-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.classes-heading{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

/*---------- Classes Upper Banner ----------*/

.fists-img{
    width: 37.771rem;
    height: 20rem;
    border-radius: 5%;
    margin-bottom: 2rem;
         display: block;
  margin-left: auto;
  margin-right: auto;
}

.yoga-img{
    width: 37.771rem;
    height: 20rem;
    border-radius: 5%;
    margin-bottom: 2rem;
         display: block;
  margin-left: auto;
  margin-right: auto;
}

.classes-slogan-1{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 8rem;
}

.classes-slogan-2{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 30rem;
}

.classes-slogan-3{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 36rem;
}

.classes-para{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;  
}

.classes-para span{
    color: #4c4c4c;
}

.classes-para span:hover{
    text-shadow:0 0 1px #4c4c4c;
}

/*---------- Classes List ----------*/

.choose-class-image{
margin-top: 2rem;
margin-bottom: 2rem;
display: block;
  margin-left: auto;
  margin-right: auto;
}

/*---------- Classes Table ----------*/

.day{
    background-color: #eae9fb;
    height: 5rem;
    width: 10.3rem;
    border: 3px solid #ffffff;
    background-clip: padding-box;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 0.625rem;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 1px #4c4c4c;
}

.pink{
    background-color: #f16b84;
    height: 5rem;
    width: 10.3rem;
    border: 3px solid #ffffff;
    background-clip: padding-box;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}

.red{
    background-color: #955029;
    height: 5rem;
    width: 10.3rem;
    border: 3px solid #ffffff;
    background-clip: padding-box;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}

.orange{
    background-color: #f5841f;
    height: 5rem;
    width: 10.3rem;
    border: 3px solid #ffffff;
    background-clip: padding-box;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}

.blue{
    background-color: #005b9b;
    height: 5rem;
    width: 10.3rem;
    border: 3px solid #ffffff;
    background-clip: padding-box;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}

.green{
    background-color: #67aa1c;
    height: 5rem;
    width: 10.3rem;
    border: 3px solid #ffffff;
    background-clip: padding-box;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    color: #ffffff;
}

.white{
    background-color: #ffffff;
   height: 5rem;
    width: 10.3rem;
    border: 3px solid #ffffff;
    background-clip: padding-box;
}


/*----------------------- Contact Page -----------------------*/

/*---------- Upper Banner ----------*/

.contact-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.contact-heading{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

.contact-para{
font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.contact-us-img{
    height: 9.375rem;
            display: block;
  margin-left: auto;
  margin-right: auto;
}

/*---------- Middle Banner ----------*/

/*---Image---*/
.contact-woman{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-top: 7rem;
            display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--- Contact Form ---*/
.form-text{
    color: #4c4c4c;
     font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}

.form-button{
    color: #ffffff;
    background-color: #00b050;
     font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#00b050;
}

/*The above code was used from the below site to help with changing the color of my checkbox*/
/*Credit: https://stackoverflow.com/questions/48373119/change-bootstrap-4-checkbox-background-color */

/*--- Social Media Links ---*/

.contact-social a i{
    color: #4c4c4c;
}

.contact-social a i:hover{
    color: #00b050;
    text-shadow:0 0 1px #00b050;
}


/*---------- Lower Banner ----------*/

/*--- Title ---*/
.contact-where-title{
   color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    text-align: center; 
}

/*--- Address ---*/
.address-phone{
   color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    text-align: center; 
    font-size: 1rem;
}

.phone-icon h3 i{
    color: #00b050;
    font-size: 1rem;
}

/*--- Google Map ---*/
.google-maps {
        position: relative;
        padding-bottom: 20%;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 75rem !important;
        height: 21.875rem !important;
    }

    @media (max-width: 720px) {
      .google-maps {
        position: relative;
        padding-bottom:50%;
        height: 0;
        overflow: hidden;
    }
    }
    /*The above code was used from the below site to help with embedding google maps*/
/*Credit: https://www.labnol.org/internet/embed-responsive-google-maps/28333/ */


/*----------------------- Join Page -----------------------*/

/*---------- Top Banner ----------*/

.join-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.join-promo-logo{
    height: 9.375rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.join-slogan-1{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.join-slogan-2{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 10rem;
}

.join-slogan-3{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 20rem;
}

/*---------- Mid Banner ----------*/

.join-img{
    width: 22.125rem;
    height: auto;
    border-radius: 30%;
    margin-left: 8rem;
    margin-bottom: 2rem;
}

.join-para-1{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 3rem;
}

.join-para-2{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 3rem;
}

.join-para-3{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 3rem;
}

/*---------- Corona Banner ----------*/

.corona-banner{
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.corona-banner-text{
    color: #ff0000;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

.corona-para-text{
    color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 2rem;
}

.corona-para-text a span{
    font-size: 1.112rem;
    color: #4c4c4c;
}

.corona-para-text a span:hover{
    text-shadow:0 0 1px #4c4c4c;
}

.nhs-link a i{
    color: #4c4c4c;
   font-size: 1.5rem;
   margin-left: 1rem;
}

.nhs-link a i:hover{
    color: #00b050;
    text-shadow:0 0 1px #00b050;
}

.virus-img-2{
    margin-top: 5rem;
}


/*----------------------- Back to top Banner -----------------------*/
.btt-banner{
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.btt-banner-gal{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.btt-banner-text a{
    color: #4c4c4c;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.btt-banner-text a i{
    color: #4c4c4c;
   font-size: 1.5rem;
   margin-left: 0.5rem;
}

.btt-banner-text a:hover{
    text-decoration: none;
}

.btt-banner-text a i:hover{
    text-decoration: none;
}


/*---------------------------------------------------------*/
/*------------------------- Footer -------------------------*/
/*---------------------------------------------------------*/

#footer-details{
    padding: 1.25rem;
    background-color: #eae9fb;
    color: #4c4c4c;
    font-family: "Rajdhani", "roboto";
    letter-spacing: 1px;
}

/*---------- Mini Menu ----------*/

.mini-menu{
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    list-style-type: none;

}

.mini-menu li span:hover{
    font-size: 0.938rem;
}

.mini-menu-item a i{
    color: #4c4c4c;
    font-size: 0.875rem;
    padding-right: 0.438rem;
}

.mini-menu-item span{
    font-size: 0.75rem;
    letter-spacing: 5px;
    color: #4c4c4c;
    padding: 0;
}

/*---------- Classes Download ----------*/

.classes-text{
    font-size: 0.875rem;
    margin-top: 2.188rem;
}

.classes-pdf i{
    height: 2rem;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 7px;
    color: #4c4c4c;
    background: #fff;
}

.classes-pdf i:hover{
    color: #fff;
    background: #4c4c4c;
}

/*---------- Social ----------*/

.social-links{
padding-top: 2.188rem;
}

.social-links li a i{
    height: 2rem;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 7px;
    color: #4c4c4c;
    background: #fff;
}

.social-links li a i:hover{
    color: #fff;
    background: #4c4c4c;
}

/*---------- Copyright ----------*/

.copyright{
    font-size: 0.75rem;
    margin-top: 2.188rem;
}

.copyright span{
    color: #4c4c4c;
}

.copyright span:hover{
    text-shadow:0 0 1px #4c4c4c;
}


        /*---------------------------------------------------------*/
/*------------------------- Media Query 1100px + -------------------------*/
        /*---------------------------------------------------------*/

@media (max-width: 1330px) {

/*---------- Header ----------*/

.menuitem span{
    border-right: none;
}

.menuitem a i{
    border-left: none;
}

/*---------- Join Page ----------*/

.classes-slogan-1{
    margin-top: 2rem;
    margin-left: 0;
}

.classes-slogan-2{
    margin-left: 8rem;
    margin-top: 1rem;
}

.classes-slogan-3{
    margin-left: 12rem;
    margin-top: 1rem;
}

.classes-para{
    margin-top: 2rem;
}

}

/*------------------------*/

@media (max-width: 1150px) {

/*---------- Home Page ----------*/

.fit{
    font-size: 1.5rem;
    margin-top: 2.875rem;
    margin-left: 0;
}

.fit span{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.strong{
    font-size: 1.7rem;
    margin-left: 3rem;
}

.strong span{
    text-transform: uppercase;
    font-size: 2.7rem;
}

.gym-it{
    font-size: 3rem;
    text-transform: uppercase;
    margin-left: 10rem;
}

/*---------- Join Page ----------*/

.join-slogan-2{
margin-left: 4rem;
}

.join-slogan-3{
margin-left: 7rem;
}

.join-para-1{
    margin-top: 1rem;
}

.join-para-2{
    margin-top: 1rem;
}

.join-para-3{
    margin-top: 1rem;
}

.join-img{
    margin-left: 2rem;
}

}

 /*---------------------------------------------------------*/
/*------------------------- Media Query 800px + -------------------------*/
        /*---------------------------------------------------------*/

@media (max-width: 800px) {

/*---------- About Page ----------*/

.about-who{
    margin-top: 2rem;
}

.about-headings{
    margin-top: 1rem;
}

}

        /*---------------------------------------------------------*/
/*------------------------- Media Query 700px + -------------------------*/
        /*---------------------------------------------------------*/

@media (min-width: 775px) and (max-width: 1050px) {

/*---------- Home Page ----------*/

.promo{
    margin: 0;
}

.promo-logo{
    height: 7rem;
}

.fit{
    margin-top: 1rem;
    margin-left: 0;
}

.strong{
    margin-left: 4rem;
}

.gym-it{
    margin-left: 10rem;
}

.treadmill-img{
    margin-top: 2rem;
}

.hi-five-img{
    margin-top: 2rem;
}

}

/*-----------------------*/
@media (max-width: 799px) {

/*---------- Join Page ----------*/


.join-img{
    margin: 0;
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-title-text{
    font-size: 3.2rem;
}
    
.virus-img-1{
    width: 6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.virus-img-2{
    width: 6rem;
    margin: 0;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.join-promo-logo{
    margin-bottom: 1rem;
}

}

/*---------- Back to Top Banner ----------*/
.btt-banner-text{
    text-align: end !important;
}

/*-----------------------*/
@media (max-width: 775px) {

/*---------- Footer ----------*/

.mini-menu{
    text-align: center;
    padding: 0;
    margin-left: 0;
}

.classes-text{
    text-align: center;
    margin: 10px;
    font-size: 10px;
}

.social-links{
    text-align: center;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 10px;
}

.copyright{
    text-align: center;
    margin: 10px;
    font-size: 10px;
}

.list-inline-item{
    margin-top: 5px;
}

.fa-download{
    margin-top: 5px;
}
}

/*-----------------------------------------------*/
@media (min-width: 765px) and (max-width: 1000px) {

/*---------- Home Page ----------*/

.promo{
    margin: 0;
}

.fit{
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 1.3rem;
}

.fit span{
    font-size: 1.8rem;
}

.strong{
    margin-left: 5rem;
    font-size: 1.4rem;
}

.strong span{
font-size: 1.9rem;
}

.gym-it{
    margin-left: 8rem;
    font-size: 2rem;
}

.treadmill-img{
    margin-top: 3rem;
}

.hi-five-img{
    margin-top: 3rem;
}

}

/*------------------------*/
@media (max-width: 765px) {

/*---------- About Page ----------*/

.connect-img{
    display: none;
}

}

 /*---------------------------------------------------------*/
/*------------------------- Media Query 600px + -------------------------*/
        /*---------------------------------------------------------*/

@media (min-width: 620px) and (max-width: 950px) {

/*---------- Classes Page ----------*/

.pink{
    font-size: 0.8rem;
}

.red{
    font-size: 0.8rem;
}

.orange{
    font-size: 0.8rem;
}

.blue{
    font-size: 0.8rem;
}

.green{
    font-size: 0.8rem;
}

}

         /*---------------------------------------------------------*/
/*------------------------- Media Query 500px + -------------------------*/
         /*---------------------------------------------------------*/

/*---------- Gallery Page ----------*/

@media (max-width: 500px) {
		
		.gal {
	
	-webkit-column-count: 1; /*Chrome, Safari, Opera*/
    -moz-column-count: 1; /*Firefox*/
    column-count: 1;
        }
}

/*---------- Contact Page ----------*/

@media (max-width: 580px) {
.contact-woman{
margin: 0;
}

}

        /*---------------------------------------------------------*/
/*------------------------- Media Query 400px + -------------------------*/
        /*---------------------------------------------------------*/

@media (max-width: 450px) {

/*---------- Header ----------*/
.main-title-text{
    font-size: 1.5rem;
}

/*---------- About Page ----------*/

.about-who{
    margin-top: 0;
}
    
.who-we-are{
    margin-top: 1rem;
}

.what-we-do{
    margin-top: 1rem;
}

}


/*---------------------------------------------------------*/
/*------------------------- Media Query 300px + -------------------------*/
        /*---------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 765px) {

/*---------- Home Page ----------*/
.promo{
    margin: 0;
}

.promo-logo{
    height: 7rem;
}

.fit{
    margin-top: 0rem;
    margin-left: 2rem;
    font-size: 1.3rem;
}

.fit span{
    font-size: 1.8rem;
}

.strong{
    margin-left: 3rem;
    font-size: 1.4rem;
}

.strong span{
font-size: 1.9rem;
}

.gym-it{
    margin-left: 4rem;
    font-size: 2rem;
}

.open-logo{
    display: none;
}

/*---------- Home Page ----------*/

.join-slogan-1{
margin: 0;
}

.join-slogan-2{
margin-left: 0;
margin-top: 1rem;
}

.join-slogan-3{
    margin-left: 0;
    margin-top: 1rem;
}

}

/*-----------------------------------------------*/
@media (min-width: 320px) and (max-width: 770px) {

/*---------- Classes Page ----------*/

.classes-slogan-1{
    font-size: 1.5rem;
}

.classes-slogan-2{
    font-size: 1.7rem;
}

.classes-slogan-3{
    font-size: 1.9rem;
}

.classes-para{
    margin-top: 2rem;
}

}

/*-----------------------------------------------*/
@media (min-width: 300px) and (max-width: 620px) {

/*---------- Classes Page ----------*/

.day{
    font-size: 1rem;
    padding: 25px 0;
    
}

.pink{
    font-size: 0.4rem;
    padding: 20px 10px;
    line-height: 10px;
  
}

.pink span{
    display: none;
}

.red{
    font-size: 0.4rem;
    padding: 20px 10px;
    line-height: 10px;
    
}

.red span{
    display: none;
}

.orange{
    font-size: 0.4rem;
    padding: 20px 10px;
    line-height: 10px;
  
}

.orange span{
    display: none;
}

.blue{
    font-size: 0.4rem;
    padding: 20px 10px;
    line-height: 10px;
  
}

.blue span{
    display: none;
}

.green{
    font-size: 0.4rem;
    padding: 20px 6px;
    line-height: 10px;
  
}

.green span{
    display: none;
}

}
