@import url('https://fonts.googleapis.com/css?family=Rajdhani|Roboto&display=swap:100,200,300,400,500,600,700');


/*------------------------- Colours -------------------------*/

/*---------- Header & Footer ----------*/
.bgnavcolor{
    background-color: #eae9fb;
    width: auto;
}

.bg-banner{
    background-color: #f8f8f8;
    width: auto;
}

.bg-main-content{
    background-color: #ffffff;
    width: auto;
}


/*------------------------- Header -------------------------*/

/*---------- Logo Image ----------*/

#gym-image{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: -25px;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(1.1);
    }
}

/*---------- Company Title ----------*/

.navbar-brand div{
    font-family: "Rajdhani", "roboto";
    font-weight: 300;
    font-size: 280%;
    color:#4c4c4c;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 5px;
    margin-left: 50px;
    margin-top: 35px;
    display: inline-block;
}

/*---------- Navigation Menu ----------*/

.menuitem span{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #4c4c4c;
    height: 32px;
    padding: 12px;
    font-size: 16px;
    line-height: 7px;
    border-right: 1px solid #4c4c4c;
}

.menuitem a i{
    color: #4c4c4c;
    font-size: 16px;
    border-left: 1px solid #4c4c4c;
    padding: 12px;
    height: 32px;
    line-height: 7px;
}

.menuitem span:hover{
    color: #0000ff;
    text-shadow:0 0 1px #0000ff;
}

#active{
    border-bottom: 1px solid #4c4c4c;

}

.navbar-toggler{
    background-color: #4c4c4c;
}


/*------------------------- Main Body -------------------------*/

.monkey{
    width: 100%;
    height: 25em;
    background-color: #f8f8f8;
    position: relative; 
}

.who-we-are{
    color: #000;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
}

.about-who{
    font-family: "Rajdhani", "roboto";
    position: absolute;
    color: #000;
    text-align: center;
}

.step-img{
    width: 25em;
    height: 18em;
}




/*---------- Home Banner ----------*/
.banner{
    width: 100%;
    height: 5em;
    background-color: #f8f8f8;
}

/*--- Month Free ---*/
.promo{
    padding: 0;
    margin-top: 45px;
    height: 200px;
}

.promo-logo{
    height: 150px;
    margin-left: 100px;
}

.join-button{
    display: table;
    margin-left: 160px;
    margin-top: 0;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #00b050;
    color: #fff;
}

/*--- Slogan ---*/
.slogan{
    font-family: "Rajdhani", "roboto";
    letter-spacing: 5px;
    color: #4c4c4c;
}

.fit{
    font-size: 30px;
    margin-top: 30px;
}

.fit span{
    text-transform: uppercase;
    font-size: 35px;
}

.strong{
    font-size: 45px;
    margin-left: 80px;
}

.strong span{
    text-transform: uppercase;
    font-size: 50px;
}

.gym-it{
    font-size: 65px;
    text-transform: uppercase;
    margin-left: 240px;
}


/*--- 24/7 ---*/

.open-logo{
    margin-left: 80px;
    margin-top: 45px;
    padding: o;
}

/*------- Banner Pic 1 -------*/
.banner-pic1{
    width: 545px;
    height: 330px;
    margin-left: 180px;
    margin-bottom: 45px;
}

/*------- Banner Pic 2 -------*/
.banner-pic2{
    width: 545px;
    height: 330px;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 45px;
}

/*------- Info Section -------*/

.herosection{
    background: #f8f8f8 url('../images/studio-cycle.jpg');
    background-size: 1200px 660px;
    max-width: 1200px;
    background-repeat: no-repeat;
    color: #fff;
    height: 660px;
    width: 1200px;
    display: flex;
    margin-top: 45px;
    margin-bottom: 45px;
    position: relative;
}

.image-overlay{
     height: 660px;
    width: 1200px;
    background: #eae9fb;
    opacity: .5;
    position: absolute;
    margin-left: -15px;
}

h1{
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 70px;
    position: absolute;
    margin-top: 1em;
    left: 30px;
}

h2{
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px; 
    position: absolute;
    margin-top: 7em;
    line-height: 50px;
    left: 30px;
}

.training-section{
    height: 200px;
    width: 25em;
    background: #eb008a;
    opacity: 0.7;
    position: absolute;
    margin-left: -0.9em;
    margin-top: 460px;
}

.tuition-section{
    height: 200px;
    width: 25em;
    background: #00b050;
    opacity: 0.7;
    position: absolute;
    margin-top: 460px;
    margin-left: 24.1em;
}

.advice-section{
    height: 200px;
    width: 25em;
    background: #0077ff;
    opacity: 0.7;
    position: absolute;
    margin-left: 49.1em;
    margin-top: 460px;
}

.training-image{
    position: absolute;
    width: 7em;
    height: 6em;
    margin-top: 31.7em;
}

.tuition-image{
    position: absolute;
    width: 7.5em;
    height: 5.5em;
    margin-top: 31.7em;
    margin-left: 24.5em;
}

.advice-image{
    position: absolute;
   width: 7em;
    height: 6em;
    margin-top: 31.7em;
    margin-left: 49.8em;
}

.t-title{
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px; 
    position: absolute;
    top: 10px;
    left: 140px;
}

.t-p1{
    font-family: "Rajdhani", "roboto";
    font-size: 15px; 
    position: absolute;
    left: 140px;
    top: 45px;
}

.t-p2{
    font-family: "Rajdhani", "roboto";
    font-size: 15px; 
    position: absolute;
    top: 120px;
    left: 140px;
}

.tu-p1{
    font-family: "Rajdhani", "roboto";
    font-size: 15px; 
    position: absolute;
    left: 140px;
    top: 40px;
}

.tu-p2{
    font-family: "Rajdhani", "roboto";
    font-size: 15px; 
    position: absolute;
    top: 130px;
    left: 140px;
}

.a-p1{
    font-family: "Rajdhani", "roboto";
    font-size: 15px; 
    position: absolute;
    left: 140px;
    top: 40px;
}

.a-p2{
    font-family: "Rajdhani", "roboto";
    font-size: 15px; 
    position: absolute;
    top: 140px;
    left: 140px;
}
/*------------------------- Footer -------------------------*/

.container-fluid{
    margin: 0;
    padding: 0;
}

#footer-details{
    padding: 20px;
    background-color: #eae9fb;
    color: #4c4c4c;
    font-family: "Rajdhani", "roboto";
    letter-spacing: 1px;
}

/*---------- Mini Menu ----------*/

.mini-menu{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    list-style-type: none;

}

.mini-menu li span:hover{
    font-size: 15px;
}

.mini-menu-item a i{
    color: #4c4c4c;
    font-size: 14px;
    padding-right: 7px;
}

.mini-menu-item span{
    font-size: 12px;
    letter-spacing: 5px;
    color: #4c4c4c;
    padding: 0;
}

/*---------- Classes Download ----------*/

.classes-text{
    font-size: 14px;
    margin-top: 35px;
}

.classes-pdf i{
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    color: #4c4c4c;
    background: #fff;
}

.classes-pdf i:hover{
    color: #fff;
    background: #4c4c4c;
}

/*---------- Social ----------*/

.social-links{
padding-top: 35px;
}

.social-links li a i{
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    color: #4c4c4c;
    background: #fff;
}

.social-links li a i:hover{
    color: #fff;
    background: #4c4c4c;
}


/*---------- Copyright ----------*/

.copyright{
    font-size: 12px;
    margin-top: 35px;
}

.copyright span{
    color: #4c4c4c;
}

.copyright span:hover{
    text-shadow:0 0 1px #4c4c4c;
}


/*------------------------- Media Query -------------------------*/

/*---------- Larger ----------*/
@media screen and (max-width:1475px){

    .menuitem span{
        border-right: 0;
    }

    .menuitem a i{
        border-left: 0;
    }

#gym-image{
    width: 20%;
    height: 20%;
    margin-left: 2px;
}

.navbar-brand div{
    margin-left: 2px;
}

}

/*---------- Large ----------*/
@media screen and (max-width:985px){
    
#gym-image{
    width: 20%;
    height: 20%;
    margin-left: 2px;
}

    .navbar-nav{
    align-items: flex-end;
}

.navbar-brand div{
    margin-left: 5px;
}

#active{
    border: none;
}
}

/*---------- Medium ----------*/

@media screen and (max-width:770px){
    
#gym-image{
    width: 20%;
    height: 20%;
    margin-left: 2px;
}

    .navbar-nav{
    align-items: flex-end;
}

.navbar-brand div{
    margin-left: 5px;
}

#active{
    border: none;
}

.mini-menu-item span{
    font-size: 8px;
}

.social-links{
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 10px;
}

.classes-text{
    margin: 10px;
    font-size: 10px;
}

.copyright{
    margin: 10px;
    font-size: 10px;
}

}

/*---------- Small ----------*/
@media screen and (max-width:520px){


#gym-image{
    width: 20%;
    height: 20%;
    margin-left: 2px;
}

#footer-details{
    position: fixed;
    text-align: center;
    padding-bottom: 10px;
}

#footer-details span{
    font-size: 10px;
}

.navbar-brand div{
    margin-left: 0;
}

.navbar-nav{
    align-items: flex-end;
}

#active{
    border: none;
}

.nav-link{
    display: block;
    padding: 0;
}

ul{
    padding-left: 10px;
    margin: 0;
}

.classes-text{
    margin: 10px;
    font-weight: bold;
}

.social-links{
    padding: 0;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
}

.copyright{
    margin: 10px;
    font-size: 8px;
}

}

/*---------- Smaller ----------*/
@media screen and (max-width:320px){
    
    .navbar-brand div{
        font-size: 240%;
    }

    #gym-image{
    width: 20%;
    height: 20%;
    margin-left: 2px;
}

#footer-details{
    position: fixed;
    text-align: center;
    padding-bottom: 10px;
}

#footer-details span{
    font-size: 10px;
}

.navbar-brand div{
    margin-left: 0;
}

.navbar-nav{
    align-items: flex-end;
}

#active{
    border: none;
}

.nav-link{
    display: block;
    padding: 0;
}

ul{
    padding-left: 10px;
    margin: 0;
}

.classes-text{
    margin: 10px;
    font-size: 10px;
    font-weight: bold;
}

.social-links{
    padding: 0;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
}

.copyright{
    margin: 10px;
    font-size: 8px;
}

}
