@import url('https://fonts.googleapis.com/css?family=Rajdhani|Roboto&display=swap:100,200,300,400,500,600,700');

 /*---------------------------------------------------------*/
/*------------------------- COLOURS -------------------------*/
 /*---------------------------------------------------------*/

.bgnavcolor{
    background-color: #eae9fb;
}

.bg-banner{
    background-color: #f8f8f8;
}

.bg-main-content{
    background-color: #ffffff;
}

#bg-gallery{
    background-color: #f8f8f8;
}

.bg-contact{
    background-color: #ffffff;
}

/*---------------------------------------------------------*/
/*------------------------- HEADER -------------------------*/
/*---------------------------------------------------------*/

/*---------- Logo Image ----------*/

#gym-image{
    width: 7.5rem;
    height: 7.5rem;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(0.6);
    }
    to{
        transform: scale(1.1);
    }
}

/*---------- Company Title ----------*/

.main-title-text{
    font-family: "Rajdhani", "roboto";
    font-weight: 300;
    font-size: 3rem;
    color:#4c4c4c;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin-left: 2.813rem;
    margin-bottom: 0;
}

/*---------- Navigation Menu ----------*/

.menuitem span{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #4c4c4c;
    height: 2rem;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 7px;
    border-right: 1px solid #4c4c4c;
}

.menuitem a i{
    color: #4c4c4c;
    font-size: 1rem;
    border-left: 1px solid #4c4c4c;
    padding: 0.75rem;
    height: 2rem;
    line-height: 7px;
}

.menuitem span:hover{
    color: #0000ff;
    text-shadow:0 0 1px #0000ff;
}

#active{
    border-bottom: 1px solid #4c4c4c;

}

.navbar-toggler{
    background-color: #4c4c4c;
}

  /*---------------------------------------------------------*/
/*------------------------- MAIN BODY -------------------------*/
  /*---------------------------------------------------------*/

/*--------------------- Home Page ---------------------*/

/*---------- Home Banner ----------*/
.banner{
    width: 100%;
    height: 5rem;
    background-color: #f8f8f8;
}

/*--- Month Free Image ---*/
.promo{
    padding: 0;
    margin-top: 2.813rem;
    height: 12.5rem;
}

.promo-logo{
    height: 9.375rem;
    margin-left: 6.25rem;
}

.join-button{
    display: table;
    margin-left: 10rem;
    margin-top: 0;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #00b050;
    color: #fff;
}

/*--- Slogan Text ---*/
.slogan{
    font-family: "Rajdhani", "roboto";
    letter-spacing: 5px;
    color: #4c4c4c;
}

.fit{
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

.fit span{
    text-transform: uppercase;
    font-size: 2.188rem;
}

.strong{
    font-size: 2.813rem;
    margin-left: 5rem;
}

.strong span{
    text-transform: uppercase;
    font-size: 3.125rem;
}

.gym-it{
    font-size: 4.063rem;
    text-transform: uppercase;
    margin-left: 15rem;
}


/*--- 24/7 Image ---*/

.open-logo{
    margin-left: 5rem;
    margin-top: 2.813rem;
    padding: 0;
}

/*------- Banner Pic 1 -------*/
.banner-pic1{
    width: 34.063rem;
    height: 20.625rem;
    margin-left: 11.25rem;
    margin-bottom: 2.813rem;
}

/*------- Banner Pic 2 -------*/
.banner-pic2{
    width: 34.063rem;
    height: 20.625rem;
    margin-left: 1.563rem;
    margin-top: 0;
    margin-bottom: 2.813rem;
}

/*------- Info Section -------*/

.herosection{
    background: #f8f8f8 url('../images/index/studio-cycle.jpg') no-repeat center;
    background-size: 75rem 41.25rem;
    max-width: 75rem;
    color: #fff;
    height: 41.25rem;
    width: 75rem;
    display: flex;
    margin-top: 2.813rem;
    margin-bottom: 2.813rem;
    position: relative;
}

.image-overlay{
     height: 41.25rem;
    width: 75rem;
    background: #eae9fb;
    opacity: .5;
    position: absolute;
    margin-left: -0.938rem;
}

.offer1{
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4.375rem;
    position: absolute;
    margin-top: 1rem;
    left: 1.875rem;
}

.offer2{
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.875rem; 
    position: absolute;
    margin-top: 7rem;
    line-height: 3.125rem;
    left: 1.875rem;
}

.training-section{
    height: 12.5rem;
    width: 25rem;
    background: #eb008a;
    opacity: 0.7;
    position: absolute;
    margin-left: -0.9em;
    margin-top: 460px;
}

.tuition-section{
    height: 12.5rem;
    width: 25rem;
    background: #00b050;
    opacity: 0.7;
    position: absolute;
    margin-top: 28.75rem;
    margin-left: 24.1rem;
}

.advice-section{
    height: 12.5rem;
    width: 25rem;
    background: #0077ff;
    opacity: 0.7;
    position: absolute;
    margin-left: 49.1rem;
    margin-top: 28.75rem;
}

.training-image{
    position: absolute;
    width: 7rem;
    height: 6rem;
    margin-top: 31.7rem;
}

.tuition-image{
    position: absolute;
    width: 7.5rem;
    height: 5.5rem;
    margin-top: 31.7rem;
    margin-left: 24.5rem;
}

.advice-image{
    position: absolute;
   width: 7rem;
    height: 6rem;
    margin-top: 31.7rem;
    margin-left: 49.8rem;
}

.t-title{
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem; 
    position: absolute;
    top: 0.625rem;
    left: 8.75rem;
}

.t-p1{
    font-family: "Rajdhani", "roboto";
    font-size: 0.938rem; 
    position: absolute;
    left: 8.75rem;
    top: 2.813rem;
}

.t-p2{
    font-family: "Rajdhani", "roboto";
    font-size: 0.938rem; 
    position: absolute;
    top: 7.5rem;
    left: 8.75rem;
}

.tu-p1{
    font-family: "Rajdhani", "roboto";
    font-size: 0.938rem; 
    position: absolute;
    left: 8.75rem;
    top: 2.5rem;
}

.tu-p2{
    font-family: "Rajdhani", "roboto";
    font-size: 0.938rem; 
    position: absolute;
    top: 8.125rem;
    left: 8.75rem;
}

.a-p1{
    font-family: "Rajdhani", "roboto";
    font-size: 0.938rem; 
    position: absolute;
    left: 8.75rem;
    top: 2.5rem;
}

.a-p2{
    font-family: "Rajdhani", "roboto";
    font-size: 0.938rem; 
    position: absolute;
    top: 8.75rem;
    left: 8.75rem;
}

/*--------------------- About Page ---------------------*/

/*---------- Who We Are ----------*/

.who-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.about-who-text{
    background-color: #f8f8f8;
    width: 100%;
    height: 5rem;
}

.who-we-are{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    text-align: center;
}

.about-who{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 5rem;
}

.step-img{
     width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
}



/*---------- What We Do ----------*/

.what-banner{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.about-what-text{
    width: 100%;
    height: 5rem;
}

.what-we-do{
    color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    text-align: center;
}

.about-what{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-headings{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 4.5rem;
    border-bottom: 1px solid #4c4c4c;
}

.about-headings-2{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 1rem;
    border-bottom: 1px solid #4c4c4c;
}

.about-guide{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-teach{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-connect{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.about-health{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.hang-img{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
}

.class1-img{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
}

.connect-img{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-bottom: 2rem;
}

.healthy-img{
    width: 80rem;
    height: 14.091rem;
    border-radius: 5%;
}

/*--------------------- Gallery Page ---------------------*/

/*---------- Images ----------*/
.gal {
	
	-webkit-column-count: 2; /*Chrome, Safari, Opera*/
    -moz-column-count: 2; /*Firefox*/
    column-count: 2;
	}	
    
	.gal img{ 
        width: 100%; 
        padding: 7px;
        border-radius: 5%;
    }

.gal img:hover{
    box-shadow: 0 0 2px 1px rgba(76, 76, 76, 0.5);
}

/* Code source here */
/* https://bootsnipp.com/snippets/p1qAD */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_thumbnail_image */

/*---------- Gallery Heading ----------*/

.gallery-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.gallery-heading{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

/*--------------------- Classes Page ---------------------*/

/*---------- Classes Heading & Banner ----------*/

.classes-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.classes-heading{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

/*---------- Classes Top Section ----------*/

.fists-img{
    width: 37.771rem;
    height: 20rem;
    border-radius: 5%;
}

.yoga-img{
    width: 37.771rem;
    height: 20rem;
    border-radius: 5%;
}

.classes-slogan-1{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 2rem;
}

.classes-slogan-2{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 22rem;
}

.classes-slogan-3{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 28rem;
}

.classes-para{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;  
}

.classes-para span{
    color: #4c4c4c;
}

.classes-para span:hover{
    text-shadow:0 0 1px #4c4c4c;
}

/*---------- Classes List ----------*/

.classes-list-image{
background: #f8f8f8 url('../images/classes/studio-img.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    max-width: 100%;
    height: 25rem;
    width: 85rem;
}

.spin-col{
background-color: blue;
height: 17rem;
width: 17rem;
position: absolute;
}

.hiit-col{
  background-color: green;
height: 17rem;
width: 17rem;
position: absolute;
}

.yoga-col{
    background-color: yellow;
height: 17rem;
width: 17rem;
position: absolute;
}

.lbt-col{
    background-color: pink;
height: 17rem;
width: 17rem;
position: absolute;
}

.pump-col{
   background-color: red;
height: 17rem;
width: 17rem;
position: absolute; 
}


/*----------------------- Contact Page -----------------------*/

/*---------- Contact Heading & Banner ----------*/

.contact-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.contact-heading{
    color: #4c4c4c;
    background-color: #f8f8f8;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

.contact-para{
font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
}

.contact-us-img{
    height: 9.375rem;
}

/*---------- Contact Image & Form ----------*/

.contact-woman{
    width: 36.313rem;
    height: 22.125rem;
    border-radius: 5%;
    margin-top: 7rem;
    margin-left: 2rem;
}

.form-text{
    color: #4c4c4c;
     font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}

.form-button{
    color: #ffffff;
    background-color: #00b050;
     font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#00b050;
}

/*The above code was used from the below site to help with changing the color of my checkbox*/
/*Credit: https://stackoverflow.com/questions/48373119/change-bootstrap-4-checkbox-background-color */

/*---------- Contact Social Media Links ----------*/

.contact-social a i{
    color: #4c4c4c;
}

.contact-social a i:hover{
    color: #00b050;
    text-shadow:0 0 1px #00b050;
}


/*---------- Contact Where We Are ----------*/

.where-we-are{
   color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    text-align: center; 
}

.where-we-are-2{
   color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    text-align: center; 
    font-size: 1rem;
}

.phone-icon h3 i{
    color: #00b050;
    font-size: 1rem;
}

.google-maps {
        position: relative;
        padding-bottom: 20%;
        overflow: hidden;
        margin-bottom: 2rem;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 75rem !important;
        height: 21.875rem !important;
    }

    @media (max-width: 720px) {
      .google-maps {
        position: relative;
        padding-bottom:50%;
        height: 0;
        overflow: hidden;
    }
    }
    /*The above code was used from the below site to help with embedding google maps*/
/*Credit: https://www.labnol.org/internet/embed-responsive-google-maps/28333/ */


/*----------------------- Join Page -----------------------*/

/*---------- Top Banner ----------*/

.join-banner{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.join-promo-logo{
    height: 9.375rem;
    margin-top: 0.8rem;
}

.join-slogan-1{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.join-slogan-2{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 10rem;
}

.join-slogan-3{
    font-family: "Rajdhani", "roboto";
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 20rem;
}

/*---------- Mid Banner ----------*/

.join-img{
    width: 22.125rem;
    height: 22.125rem;
    border-radius: 30%;
    margin-left: 8rem;
    margin-bottom: 2rem;
}

.join-para-1{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 3rem;
}

.join-para-2{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 3rem;
}

.join-para-3{
    font-family: "Rajdhani", "roboto";
    color: #4c4c4c;
    text-align: center;
    margin-top: 3rem;
}

/*---------- Corona Banner ----------*/

.corona-banner{
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.corona-banner-text{
    color: #ff0000;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
}

.corona-para-text{
    color: #4c4c4c;
    background-color: #ffffff;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 2rem;
}

.corona-para-text a span{
    font-size: 1.112rem;
    color: #4c4c4c;
}

.corona-para-text a span:hover{
    text-shadow:0 0 1px #4c4c4c;
}

.nhs-link a i{
    color: #4c4c4c;
   font-size: 1.5rem;
   margin-left: 1rem;
}

.nhs-link a i:hover{
    color: #00b050;
    text-shadow:0 0 1px #00b050;
}

.virus-img-2{
    margin-top: 5rem;
}




/*----------------------- Back to top Banner -----------------------*/
.btp-banner{
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.btp-banner-gal{
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
}

.btp-banner-text a{
    color: #4c4c4c;
    font-family: "Rajdhani", "roboto";
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.btp-banner-text a i{
    color: #4c4c4c;
   font-size: 1.5rem;
   margin-left: 0.5rem;
}

.btp-banner-text a:hover{
    text-decoration: none;
}

.btp-banner-text a i:hover{
    text-decoration: none;
}


/*---------------------------------------------------------*/
/*------------------------- Footer -------------------------*/
/*---------------------------------------------------------*/

#footer-details{
    padding: 1.25rem;
    background-color: #eae9fb;
    color: #4c4c4c;
    font-family: "Rajdhani", "roboto";
    letter-spacing: 1px;
}

/*---------- Mini Menu ----------*/

.mini-menu{
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    list-style-type: none;

}

.mini-menu li span:hover{
    font-size: 0.938rem;
}

.mini-menu-item a i{
    color: #4c4c4c;
    font-size: 0.875rem;
    padding-right: 0.438rem;
}

.mini-menu-item span{
    font-size: 0.75rem;
    letter-spacing: 5px;
    color: #4c4c4c;
    padding: 0;
}

/*---------- Classes Download ----------*/

.classes-text{
    font-size: 0.875rem;
    margin-top: 2.188rem;
}

.classes-pdf i{
    height: 2rem;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 7px;
    color: #4c4c4c;
    background: #fff;
}

.classes-pdf i:hover{
    color: #fff;
    background: #4c4c4c;
}

/*---------- Social ----------*/

.social-links{
padding-top: 2.188rem;
}

.social-links li a i{
    height: 2rem;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 7px;
    color: #4c4c4c;
    background: #fff;
}

.social-links li a i:hover{
    color: #fff;
    background: #4c4c4c;
}


/*---------- Copyright ----------*/

.copyright{
    font-size: 0.75rem;
    margin-top: 2.188rem;
}

.copyright span{
    color: #4c4c4c;
}

.copyright span:hover{
    text-shadow:0 0 1px #4c4c4c;
}

     /*---------------------------------------------------------*/
/*------------------------- Media Query 500px -------------------------*/
     /*---------------------------------------------------------*/

/*---------- Gallery Page ----------*/

@media (max-width: 500px) {
		
		.gal {
	
	-webkit-column-count: 1; /*Chrome, Safari, Opera*/
    -moz-column-count: 1; /*Firefox*/
    column-count: 1;
        }
}

/*---------- Contact Page ----------*/

@media (max-width: 580px) {
.contact-woman{
margin: 0;
}

}


/*---------- Join Page ----------*/

@media (max-width: 580px) {

.join-img{
    margin: 0;
    margin-top: 3rem;
}

.join-slogan-1{
    margin: 0;
}

.join-slogan-2{
    margin: 0;
}

.join-slogan-3{
    margin: 0;
}

}
